<h1>Transformers One</h1>
<%= image_tag 'transformers', class:''%>
<h2>PG, Now Playing, 1h 44m, Action/Adventure/Sci-Fi/Fantasy/Animation</h2>
<p>TRANSFORMERS ONE is the untold origin story of Optimus Prime and Megatron, better known as sworn enemies, but once were friends bonded like brothers who changed the fate of Cybertron forever.</p>


<h6>Where to Watch:</h6>
<ul>
    <li>In Theaters</li>
    <li>Fandango At Home</li>
    <li>Some other odd place</li>
</ul>


<%= link_to 'Review', review_path %>